{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:
<title>itszoeyglobe.github.io</title>
<script>
document.getElementsByTagName("html")[0].insertAdjacentHTML(
    "beforeend",
    "<link rel=\"stylesheet\" href=\"https://raw.githubusercontent.com/itszoeyglobe/itszoeyglobe.github.io/main/_layouts/css.css\" />");
</script>

<link rel="stylesheet" type="text/css" href="https://raw.githubusercontent.com/itszoeyglobe/itszoeyglobe.github.io/main/_layouts/css.css">
  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
{% endcomment %}
<meta charset="utf-8">
<!-- SEO tags -->
{% seo %}
