---
layout: default
---
<title>itszoeyglobe.github.io</title>
<link rel="canonical" href="https://itszoeyglobe.github.io">
<script>
document.getElementsByTagName("html")[0].insertAdjacentHTML(
    "beforeend",
    "<link rel=\"stylesheet\" href=\"https://raw.githubusercontent.com/itszoeyglobe/itszoeyglobe.github.io/main/_layouts/css.css\" />");
</script>

<link rel="canonical" href="https://itszoeyglobe.github.io/about/">
<meta name="description" content="I'm a Linux-loving creative kitty-girl from England. I'm female, and my pronouns are she/her/hers. I'm transgender, and otherkin (cat-kin, I really am a cat).">
<meta name="author" content="itszoeyglobe,zoeyglobe">
<meta name="keywords" content="HTML,CSS,itszoeyglobe,zoeyglobe">

<link rel="stylesheet" type="text/css" href="https://raw.githubusercontent.com/itszoeyglobe/itszoeyglobe.github.io/main/_layouts/css.css">

<link rel="stylesheet" type="text/css" href="https://raw.githubusercontent.com/itszoeyglobe/itszoeyglobe.github.io/main/_layouts/css.css">

<script>
document.getElementsByTagName("html")[0].insertAdjacentHTML(
    "beforeend",
    "<link rel=\"stylesheet\" href=\"https://raw.githubusercontent.com/itszoeyglobe/itszoeyglobe.github.io/main/_layouts/css.css\" />");
</script>

<link rel="stylesheet" type="text/css" href="https://raw.githubusercontent.com/itszoeyglobe/itszoeyglobe.github.io/main/_layouts/css.css">

<article class="post">

  <header class="post-header">
    <h1 class="post-title"></h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
