<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>About | itszoeyglobe.github.io</title>
	 <link rel="canonical" href="https://itszoeyglobe.github.io/about">
	<!--[if IE]>
		<script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
<link rel="canonical" href="https://itszoeyglobe.github.io/about">

        <meta http-equiv="refresh" content="0; url=https://itszoeyglobe.github.io/about">
        <script type="text/javascript">
            window.location.href = "https://itszoeyglobe.github.io/about"
        </script>
        
	<link rel="canonical" href="https://itszoeyglobe.github.io/about/">
<meta name="description" content="I'm a Linux-loving creative kitty-girl from England. I'm female, and my pronouns are she/her/hers. I'm transgender, and otherkin (cat-kin, I really am a cat).">
<meta name="author" content="itszoeyglobe,zoeyglobe">
<meta name="keywords" content="HTML,CSS,itszoeyglobe,zoeyglobe">
	
</head>

<body>

If you are not redirected automatically, follow this <a href='https://itszoeyglobe.github.io/about'>link to itszoeyglobe.github.io/about</a>.

</body>
</html>

